.loginlayout{
    display: flex;
    
}

.loginlayout,li,Link{
    display: flex;
    /* border: 5px solid red; */
    justify-content: space-around;
   
}

.loginlayout{
    border: 2px solid blue;
    background-color: red;

}